<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notoverflow.a2nddegre">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/icone"
        android:roundIcon="@mipmap/icone"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".informationObjet"></activity>
        <activity android:name=".Activity_9" />
        <activity android:name=".Activity_8" />
        <activity android:name=".Activity_7" />
        <activity android:name=".Activity_6" />
        <activity android:name=".Activity_5" />
        <activity android:name=".Activity_4" />
        <activity android:name=".Activity_3" />
        <activity android:name=".Activity_2" />
        <activity android:name=".Activity_1" />
        <activity android:name=".choix" />
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--            id : ca-app-pub-9696781235898812~5262193751-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9696781235898812~5262193751"/>

    </application>

</manifest>